*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.container{
    padding-top: 40px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    margin: auto;
}

.sidebar{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    height:90vh;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;

}
/* profile info */
.profile{
    text-align: center;
    margin-bottom: 20px;

}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    font-size: 0.8rem ;
    background-color: #1e1e1e;
    color:#FFBF00;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius:7px ;
    margin-top:10px ;
}
/* contact info */

.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top:20px;
    margin-bottom: 30px;

}
.eme h3{
    font-weight: 500;
    font-size: 0.8rem;
}
.value{
    color: #e0e0e0;
    text-decoration:none ;

}
.eme{
    margin-bottom: 10px;
}

/* social info */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top:20px;
    margin-bottom: 30px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.4s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

.mainbar{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding:40px;

}
/* navigation */
#navigation{
    text-align: end;
    margin-bottom 20px;
    
}
nav a{
    margin-left: 15px;
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}
.active, nav a:hover{
    color: #FFBF00;
}
/* about */
#about{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 30px;
}
#about h2{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
    
}
.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

#skills h2{
    margin-top: 30px;
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
#skills h3{
    font-size: 1rem;
    font-weight: 500;
}
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 30px;

}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}
/* education */
#education h2{
    margin-top: 30px;
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.edtech{
    margin-top: 20px;
    position: relative;
}
.year{
    margin-bottom: 5px;
     
}
.one,.two{
    margin-bottom: 30px;
    margin-left:20px ;
    position: relative;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.board{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.info{
    color: #a0a0a0;
}
.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    left:0px;
    border: 2px solid #3a3a3a;

}
.goal{
    height: 15px;
    width: 15px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -25px;
    z-index: 5;
}
#portfolio h2{
    margin-top: 30px;
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.projbox{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.card{
    padding: 20px;
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}
.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: ;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* responsiveness */
@media screen and (max-width:1200px) {
    .container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}
@media screen and (max-width:750px) {
    .projbox{
        grid-template-columns: 1fr;
    }
    #navigation nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}





